<html>
    <head>
        <title>Headlines</title>
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='/lib/css/bootstrap.min.css') }}">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Current weather</h2>
                        <form class="form-inline">
                            <input class="form-control mb-2 mr-sm-2" type="text" name="city" placeholder="weather search">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                        <p>City: <b>{{weather.city}}</b></p>
                        <p>{{weather.description}} |{{weather.temperature}}℃</p>
                    </div>
                    <div class="col-sm">
                        <h2>Currency</h2>
                        1 {{currency_from}} = {{currency_to}} {{rate}}
                        <form>
                            <div class="form-group">
                            from: <select name="currency_from">
                                {% for currency in currencies %}
                                    <option value="{{currency}}">{{currency}}</option>
                                {% endfor %}
                                </select>
    
                            to: <select name="currency_to">
                                {% for currency in currencies %}
                                    <option value="{{currency}}">{{currency}}</option>
                                {% endfor %}
        
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm">
                <h2>Headlines</h2>
                <form class="form-inline">
                    <input class="form-control mb-2 mr-sm-2" type="text" name="publication" placeholder="search" />
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
                {% for article in articles %}
                <div class="card-deck" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{article.link}}">{{article.title}}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{article.published}}</h6>
                        <p class="card-text">{{article.summary}}</p>
                    </div>
                </div>
                {% endfor %} 
            
        </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </body>
</html>